body {
    background-color: #4d4d4d;
}



/* Containers: */
.content {
    margin-top: 1rem;
}

.uploader-cont {
    margin: 1rem;
    color: white;
}

.cropper-cont {
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.crop-controls-header {
    margin-left: 1rem;
    margin-right: 1rem;
}

.crop-controls-header a {
    text-decoration: none;
    color: #a2a2a2;
}

.crop-controls {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    background-color: #343a40;
}

.crop-ctrl {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* File uploader button */
.btn-file {
    margin-left: 0.2rem;
    background-color: #4d85d8;
}



/* Displaying the cropping data: */
.crop-data-list  {
    margin: 1rem;
}


.crop-data-list > .input-group {
    margin-bottom: 0.2rem;
    border-color: #4d4d4d;
}

.crop-data-list .input-group-text {
    margin-bottom: 0.2rem;
    background-color: #fdaa41;
    color: #fff;
}

.crop-data-list .crop-data-border {
    border-color: #a2a2a2;
}

.crop-data-list .crop-header {
    color: #fff;
    background-color: #3f93ff;
}

.crop-data-list .input-group-prepend .input-group-text {
    min-width: 4.5rem;
}

.crop-data-list .input-group-append .input-group-text {
    min-width: 3.5rem;
}

.crop-data-list .input-group-reset label {
    background-color: #004093;
    cursor: pointer;
    min-width: 4.5rem;
}


/* Infos: */
#info-plain p{
    margin: 1rem;
    color: #eee;
}

.fa-info-circle {
    float: right;
    font-size: larger;
    color: #ccc;
}

#training-info {
    margin: 1rem;
    font-size: smaller;
    color: #ccc;
}

#training-controls {
    border-color: #4d4d4d!Important;
}